

body{
    background-color: black;
}

.content-header{
    /* background-color: rgba(137, 43, 226, 0.671); */
    height: 100%;
}

#profl{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border: solid rgb(115, 159, 255) 3px;
    height: 570px;
    border-radius: 10px;
    background-color: black;
}

.benr{
    background-image: url(../gambar/banr.jpg);
    background-size: cover;
    border-radius: 7px;
    height: 150px;
    border-bottom: solid rgb(115, 159, 255) 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}



/* sidebar */
.main-sidebar a{
    text-decoration: none;
}


.benr img{
    width: 200px;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: -80px;
    border: solid rgb(115, 159, 255) 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   
}

.text-left{
    margin: 20px
}


@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&display=swap');
.datep{
    font-family: 'Jost', sans-serif;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    color: rgb(115, 159, 255);
text-shadow: 2px 2px 3px rgba(127, 127, 127, 0.3);
}


.boxki{
    float: left;
   
}
.boxka{
    float: right;
    
}

