header nav ul li a{
    color: white;
    padding: 5px;
    text-decoration: none;
}

header nav ul li a{
    transition: all 0.2s ease-in 0s;
}

header nav ul li a:hover{
    color: bisque;
    
}

.bangam1{
    size: cover;
}

#navbarwel{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.ban-slideshow{
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.card{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 0px;
    
}
.card{
  transition: all 0.3s ease-in 0s;
}

.card:hover{
  box-shadow: rgba(0, 0, 0, 0.535) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.card img {
    width: 100%;
  border-radius: 5px;
  
}
.card img {
  transition: transform 0.5s ease;
  
    
}

.card img:hover{
    transform: scale(1.05);
  border-radius: 0px;
}


/* gambar hal detail */
.imgslug{
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

/* klik akan ke nama klompoknya */
.namacatego{
  text-align: right;
  }

.namatag{
text-align: right;
}



/* comment */
.imagecoms{
  float: left;
  border-radius: 20px;
  margin-right: 20px;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border: 2px #41403e solid;
  border-radius: 50px;

  /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
}

.inputcom{
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border: 2px #41403e solid;
}



/* CSS */
.button-55 {
  margin-top: 10px;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  border: 2px #41403e solid;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .35rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


/* share media */
div#social-links {
  
  margin-left: 29.5%;
  /* background-color: antiquewhite; */
  max-width: 500px;
}

div#social-links ul li{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: inline-block;
}

div#social-links ul li a{
  padding-left: -100px;
  padding: 15px;
  border: 1px solid #ccc;
  margin: 1px;
  font-size: 30px;
  color: #222;
  background-color: #ccc;
}